In [1]:
#importing the libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
datasets=pd.read_csv('insurance_pre.csv')

In [3]:
datasets

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
datasets=pd.get_dummies(datasets,drop_first=True)

In [5]:
datasets

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=datasets[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dep=datasets[['charges']]

In [7]:
indep

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dep

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(indep,dep,test_size=0.30,random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc=  StandardScaler()
X_train= sc.fit_transform(X_train)
X_test= sc.transform(X_test)

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],
              'max_features': ['auto','sqrt','log2'],
              'splitter':['best','random']} 

grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1) 

grid.fit(X_train, Y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [12]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,grid_predictions)

print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'auto', 'splitter': 'best'}: 0.6952912430725007

In [13]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   
# print classification report 
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,grid_predictions)

print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'auto', 'splitter': 'best'}: 0.6952912430725007

In [14]:
table=pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.009572,0.007407,0.000000,0.000000,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.724310,0.557593,0.746632,0.628132,0.660090,0.663351,0.067952,4
1,0.009370,0.007650,0.003124,0.006248,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.698793,0.676272,0.632006,0.727404,0.584906,0.663876,0.050320,3
2,0.003128,0.006256,0.003128,0.006256,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.176020,0.593933,0.550709,0.446534,0.592259,0.471891,0.157339,18
3,0.012490,0.006245,0.000000,0.000000,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.269066,0.474467,0.482204,0.623907,0.646133,0.499155,0.134910,17
4,0.006248,0.007653,0.000000,0.000000,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.704974,0.489307,0.659648,0.699694,0.664390,0.643603,0.079258,9
5,0.009372,0.007652,0.000000,0.000000,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.581530,0.576075,0.610777,0.569950,0.506105,0.568887,0.034377,16
6,0.031242,0.009880,0.006249,0.007653,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.741021,0.634629,0.593423,0.545596,0.667353,0.636404,0.066331,10
7,0.018745,0.006249,0.006249,0.007653,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.736169,0.677199,0.679005,0.573980,0.664702,0.666211,0.052321,2
8,0.018746,0.006249,0.003125,0.006249,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.705483,0.653906,0.599906,0.607652,0.588712,0.631132,0.043295,11
9,0.015622,0.000001,0.003124,0.006249,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.684163,0.726382,0.646902,0.593755,0.577539,0.645748,0.055380,8
10,0.018745,0.006249,0.006249,0.007653,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.674241,0.471239,0.610381,0.588011,0.679389,0.604652,0.075548,12
11,0.018745,0.006249,0.003124,0.006249,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.745861,0.604306,0.723435,0.667381,0.512092,0.650615,0.084840,7
12,0.003124,0.006248,0.003124,0.006248,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.733980,0.577833,0.790580,0.641108,0.675275,0.683755,0.073545,1
13,0.009373,0.007653,0.003124,0.006249,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.734054,0.616648,0.634464,0.629890,0.652104,0.653432,0.041878,5
14,0.006249,0.007653,0.003124,0.006249,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.688842,0.519083,0.700952,0.658475,0.687925,0.651055,0.067452,6
15,0.000000,0.000000,0.006249,0.007653,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.603726,0.625548,0.586821,0.406879,0.670800,0.578755,0.090434,14
16,0.003124,0.006249,0.012497,0.006249,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.610666,0.456296,0.605674,0.622874,0.675778,0.594258,0.073345,13
17,0.009373,0.007653,0.000000,0.000000,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.620508,0.608097,0.460635,0.549004,0.614720,0.570593,0.060666,15

In [16]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:2000
BMI:56
Children:5
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [17]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[63770.42801]